{{ .Site.Params.footerText }}
{{ if .Site.Params.rss }}
<footer>
	<li>
		<a href="{{ "index.xml" | absLangURL }}" title="RSS">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	</li>
	{{ end }}
</footer>