<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44419465-1"></script>-->
<!--<script>-->
<!--  window.dataLayer = window.dataLayer || [];-->
<!--  function gtag(){dataLayer.push(arguments);}-->
<!--  gtag('js', new Date());-->

<!--  gtag('config', 'UA-44419465-1');-->
<!--</script>-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <!-- Character max 160-->
    <meta name="description" content="{{.Site.Params.description | default "Call me Sam, a theme for Hugo."}}">
    <!-- Card value “summary”, “summary_large_image”, “app”, or “player”-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:domain" content="{{.Site.BaseURL}}">
    <!-- Min 120x120px-->
    <meta name="twitter:image" content="{{ .Site.Params.primaryImage | default "tn.png" | absURL }}">
    <meta name="twitter:title" property="og:title" itemprop="title name" content="{{.Site.Title | default "Sam"}}">
    <meta name="twitter:description" property="og:description" itemprop="description" content="{{.Site.Params.description | default "Call me Sam, a theme for Hugo."}}">
    <meta name="og:type" content="website">
    <meta name="og:url" content="{{.Site.BaseURL}}">
    <meta name="og:image" itemprop="image primaryImageOfPage" content="{{.Site.Params.primaryImage | default "tn.png" | absURL}}">
    <!-- Characters max 60-->
    {{ partial "seo_schema" . }}
    <title>{{.Title}}</title>
    <link rel="shortcut icon" type="image/ico" href="{{.Site.Params.favicon | default "favicon.ico" | absURL }}" id="favicon">
    <link rel="stylesheet" href="{{ "css/style.css" | absURL}}">
    <!--<link rel="alternate" href="{{ "index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}">-->
    <!-- Google fonts-->
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=open+sans">
    <!-- jQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {{ if .Site.GoogleAnalytics }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{.Site.GoogleAnalytics}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{.Site.GoogleAnalytics}}');
    </script>
    {{ end }}

</head>

</html>
